* {
    box-sizing: border-box;
}

img {
    max-width: 95%;
}

body {
    background-color: #B88E72;
    transition: background-color 0.5s ease;
}


/* Dark/Light Mode Feature */

.light-theme {
    background-color: #B88E72;
    color: #000;
}

.dark-theme {
    background-color: #000;
    color: #fff;
}

/* Header */

#banner {
    text-align: center;
    color: white;
}

#banner h1 {
    font-size: 3.2em;
    margin-bottom: 0;
    margin-top: 15px;
    font-family: 'Righteous', sans-serif;
}

#banner p {
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;
}

.main-content {
    margin-left: 275px; /* width of side menu + padding */
    display: block;
    text-align: center;
}

.main-content > * {
    margin-left: auto;
    margin-right: auto;
}

.side-menu {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 300px;
    background-color: #574335;
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.side-menu h2 {
    color: #fff;
    font-family: 'Righteous', sans-serif;
    font-size: 1.5em;
    margin-bottom: 20px;

}

.side-menu li {
    display: block;
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.side-menu li a{
    display: block;
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.side-menu li a:hover {
    color: #f90;
    cursor: pointer;
}

.side-menu li:hover {
    color: #f90;
    cursor: pointer;
}

.side-menu #audio-button:hover {
    color: rgb(134, 255, 134);

}

.center {
    margin-left: auto;
    margin-right: auto;
    transition: transform 0.5s ease;
}


